#!/usr/bin/bash

# fzf
alias preview="fzf --preview='bat --color=always --style=numbers --theme OneHalfDark {}' --preview-window=down"

alias pg="ping google.com"

#Largest Files
alias largefile="du -h -x -s -- * | sort -r -h | head -20"

# alias ls="exa --icons -lgha"
# alias la="exa --icons -lgha --group-directories-first"
# alias lt="exa --icons --tree"
# alias lta="exa --icons --tree -lgha"

# alias ls="eza --icons"
# alias la="eza --icons -lgha --group-directories-first"
# alias lt="eza --icons --tree"
# alias lta="eza --icons --tree -lgha"

alias ls="eza -lgah --git --icons=always $@"
alias la="eza --icons -lgha --group-directories-first"
alias lt="eza -h --icons --tree"
alias lta="eza --icons --tree -lgha"

alias bat="batcat --theme OneHalfDark"
alias cat="batcat --theme OneHalfDark -p $@"

alias refresh="source ~/.zshrc"
alias unsource="exec $SHELL -l"

alias zshconf="nvim ~/.zshrc"
alias bashconf="nvim ~/.bashrc"
alias aliasconf="nvim ~/.aliases"
alias startconf="nvim ~/.autostart"

#git
alias gitgraph="git log --all --decorate --oneline --graph"
alias gitupdate="git fetch && git pull"
alias gitstat="git status"
alias gitad="git add $@"
alias gitcom="git commit -m '$@'"

alias doService="sudo systemctl $@"

alias nmap-unassigned-ip="nmap -sP -PR $@"
alias nmap-port-scan="nmap -Pn -sV $@"
alias nmap-udp-scan="sudo nmap -sU -p $@"

alias mc="minio-client"

alias repo="cd ~/Documents/Repository"